#slider {
  overflow: hidden;
}

#slider figure {
    position: relative;
    width: 900%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
}

#slider figure img {
  width: 11.111%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  22% {
    left: -100%;
  }
  33% {
    left: -200%;
  }
  44% {
    left: -300%;
  }
  55% {
    left: -400%;
  }
  66% {
    left: -500%;
  }
  77% {
    left: -600%;
  }
  88% {
    left: -700%;
  }
  99% {
    left: -800%;
  }
}

  #sliderone {
    overflow: hidden;
  }

  #sliderone figure {
      position: relative;
      width: 600%;
      margin: 0;
      left: 0;
      animation: 20s sliderone infinite;
  }

  #sliderone figure img {
    width: 16.666%;
    float: left;
  }

  @keyframes sliderone {
    0% {
      left: 0;
    }
    16.667% {
      left: 0;
    }
    33.334% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    66.668% {
      left: -300%;
    }
    83.335% {
      left: -400%;
    }
    99% {
      left: -500%;
    }
}


#slidertwo {
  overflow: hidden;
}

#slidertwo figure {
    position: relative;
    width: 1400%;
    margin: 0;
    left: 0;
    animation: 25s sliderone infinite;
}

#slidertwo figure img {
  width: 7.14%;
  float: left;
}

@keyframes slidertwo {
  0% {
    left: 0;
  }
  7.14% {
    left: 0;
  }
  14.28% {
    left: -100%;
  }
  21.44% {
    left: -200%;
  }
  28.57% {
    left: -300%;
  }
  35.71% {
    left: -400%;
  }
  42.8571% {
    left: -500%;
  }
  50.2% {
    left: -600%;
  }
  57.14% {
    left: -700%;
  }
  64.28% {
    left: -800%;
  }
  71.42% {
    left: -900%;
  }
  78.57% {
    left: -1000%;
  }
  85.71% {
    left: -1200%;
  }
  92.85% {
    left: -1300%;
  }
  99.3% {
    left: -1400%;
}
}

body{
    display: flex;
    justify-content: center;
    background: slateblue;
}

#container{
  position: relative;
  top: 100px;
  width: 800px;
}

#content-box{
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

ul{
  position: relative;
  margin-bottom: 19px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

a{

  text-decoration: none;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

a:hover{
  background: orange;
}
