#slider {
  overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    animation: 20s slider infinite;
}

#slider figure img {
  width: 11%;
  float: left;
}

  #slider1 {
    overflow: hidden;
  }

  #slider1 figure {
      position: relative;
      width: 500%;
      animation: 20s slider infinite;
  }

    #slider2 {
      overflow: hidden;
    }

    #slider2 figure {
        position: relative;
        width: 500%;
        animation: 20s slider infinite;
    }

    #slider3 {
      overflow: hidden;
    }

    #slider3 figure {
        position: relative;
        width: 500%;
        animation: 20s slider infinite;
    }

body{
    display: flex;
    justify-content: center;
    background: slateblue;
}

#container{
  position: relative;
  top: 100px;
  width: 800px;
}

#content-box{
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

ul{
  position: relative;
  margin-bottom: 19px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

a{

  text-decoration: none;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

a:hover{
  background: orange;
}
